{% extends "admin/change_form.html" %}

{% block extrahead %}
  <!-- Include jQuery library in the head section -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <div class="submit-row">
   
    <a href="#" class="btn btn-outline-warning form-control" id="custom_action_button">Generate AI</a>
    
  </div>
  <script>
    $(document).ready(function() {
      $('#custom_action_button').on('click', function() {
        $('#save_and_continue').click();

        // Read values from the fields
        const nameValue = $('#id_name').val();
        const shortDescriptionValue = $('#id_short_description').val();
        const longDescriptionValue = $('#id_long_description').val();
        
        // Make an API request to ChatGPT (replace 'YOUR_API_KEY' with your actual API key)
        const apiKey = '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';
        fetch(`http://127.0.0.1:8000/chat/?text=Give me seo friendly name a short description and brief long description for the product write it organize way: ${nameValue}`, {

        })
        .then(response => response.json())
        .then(data => {
          
          
          $('#id_custom_input').val(data.response);
        })
        .catch(error => {
          console.error('Error fetching from ChatGPT:', error);
          
        });
      });
    });
  </script>
{% endblock %}